@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(59% 19% 203deg);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h2 {
  @apply text-primary;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
.animate-blob {
  animation: blob 7s infinite;
}
.animation-delay-2000 {
  animation-delay: 2s;
}

@custom-variant dark (&:is(.dark *));

@theme {
  --color-skyblue: #79adff;
  --color-lightskyblue: #9cc2dd;
  --container-screen-xl: 75rem;
  --container-screen-2xl: 83.75rem;

  --shadow-cause-shadow: 0px 4px 17px 0px #00000008;
  --shadow-darkmd:
    rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;

  --transition-duration-150: 150ms;

  --radius-4: 4px;

  /* Gradient colors */
  --color-skyblue: #79adff;
  --color-lightskyblue: #9cc2dd;
  --color-dark: #172023;

  /* Shadow */
  --shadow-3xl: 0px 4px 6px -2px #0000000d, 0px 10px 15px -3px #0000001a;
  --shadow-auth: 0 20px 25px -5px #0000001a;
  --shadow-dark-auth:
    rgba(255, 255, 255, 0.1) 0px 12px 28px 0px,
    rgba(255, 255, 255, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

  /* font size */
  --text-xm: 1.125rem;
  --text-9xl: 6.5rem;
  --text-40: 2.5rem;
  --text-52: 3.25rem;
  --text-sm: 0.875rem;

  /* Breakpoint */
  --breakpoint-xs: 23.438rem;
  /* 375px */
  --breakpoint-mobile: 32.5rem;
  /* 520px */

  /* breakpoint / max-w */
  --spacing-45p: 45%;
  --spacing-85p: 85%;
  --spacing-90p: 90%;
  --spacing-68: 17.375rem;

  --spacing-540: 33.75rem;
  /* 540px */
  --spacing-8xl: 87.5rem;
  /* 1400px */

  /* animation */
  --animate-slide: slide 20s linear infinite;

  @keyframes slide {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-103%);
    }
  }

  --spacing-17: 17px;
  --spacing-25: 35.625rem;
  --spacing-29: 28rem;
  --spacing-45: 45rem;
  --spacing-50: 50rem;
  --spacing-51: 54.375rem;
  --spacing-94: 22.5rem;
  --spacing-120: 120rem;
  --spacing-6_25: 6.25rem;
  --spacing-70\%: 70%;
  --spacing-40\%: 40%;
  --spacing-30\%: 30%;
  --spacing-60\%: 60%;
  --spacing-8_5: 8.5rem;
  --spacing-3_75: 3.75rem;

  --inset-5\%: 5%;
  --inset-35\%: 35%;

  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-999: 999;

  --color-darkprimary: #28cf91;
  --color-secondary: #1dc8cd;
  --color-midnight_text: #263238;
  --color-muted: #8d97b7;
  --color-error: #ff4d7e;
  --color-warning: #ff6a5b;
  --color-light_grey: #e9ecef;
  --color-grey: #f5f7fa;
  --color-border: #e1e1e1;
  --color-success: #3cd278;
  --color-darkmode: #0a2219;
  --color-darklight: #000f30;
  --color-dark_border: #203535;
  --color-dark: #00180f;
}

.blog-details p,
.blog-details hr {
  @apply mb-8;
}

.blog-details hr {
  @apply border-border dark:border-dark_border;
}

.blog-details strong {
  @apply font-bold dark:text-white;
}

.blog-details ul {
  @apply mb-8 list-inside list-disc space-y-3;
}

.blog-details ol {
  @apply mb-8 list-inside list-decimal space-y-3;
}

.blog-details h1 {
  @apply mb-8 text-3xl font-bold text-midnight_text dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.28];
}

.blog-details h2 {
  @apply mb-8 text-2xl font-bold text-midnight_text dark:text-white sm:text-3xl md:text-[35px] md:leading-[1.28];
}

.blog-details h3 {
  @apply mb-6 text-2xl font-bold dark:text-white sm:text-[28px] sm:leading-[40px];
}

.slick-dots li button:before {
  @apply text-secondary! text-base!;
}
.slick-dots li.slick-active button:before {
  @apply text-secondary!;
}
.slick-dots {
  bottom: -50px !important;
}
